* {
    margin: 0;
    padding: 0;
}


body {
    background: rgb(234, 233, 233);
}


.header {
    display: flex;
    align-items: center;
    position: sticky;
    background: black;
}

.header__title {
    display: inline-block;
    font-size: 70px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.cart-btn {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
    background: white;
    height: 50px;
    width: 50px;
}

.cart-btn:hover {
    background: rgb(243, 243, 243);

}



.container {
    display: flex;
    width: 100%;
}

.product-cards{
    justify-content: center;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* height: min-content; */
    gap: 20px;
}

.product-card {
    margin: 0px;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
    /* border: 1px solid black; */
}



.product-img {
    margin-top: 10px;
    height: 200px;

}

.description {
    font-size: 40px;
    font-family: sans-serif;
}


.product-card-cont {
    align-items: center;
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 30px;
}

.counter-wrapper{
    border-radius: 10px;

    height: 30px;
    margin-left: 10px;
    display: flex;
}

.counter{
    background: rgb(242, 241, 241);
    vertical-align: middle;
    font-size: 25px;
    text-align: center;
    width: 100px;
    height: 30px;
}

.counter-wrapper button{
    cursor: pointer;
    font-size: 20px;
    width: 20px;
    /* background: rgb(242, 236, 236); */
    border-style: none;
}

.counter-wrapper button:hover{
    background: rgb(185, 176, 176);

}

.left {
    border-radius: 10px 0 0 10px;
}

.right{
    border-radius: 0 10px 10px 0;
}


.price{
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
}

.incart {
    border-radius: 10px;
    cursor: pointer;
    color: rgb(83, 83, 83);
    border: 2px rgb(87, 87, 86) solid;
    font-size: 25px;
    background: white;
    margin-top: 10px;
    width: 250px;
    height: 40px;
}

.incart:hover {
    background: rgb(243, 243, 243);
    border: black 2px solid;
}




.cart-inner-title{
text-align: center;
}



.hidden {
    display: none;
}

.cart-card {
    border-bottom: 1px solid rgb(114, 114, 114);
    height: 150px;
    width: 350px;
    margin: 20px auto;
}

.cart-card-title {
    margin-left: 5px;
    width: 70px;
}

.card-img-holder {
    text-align: center;
    /* margin: 10px 0 0 10px; */
    width: 90px;     
    height: 100px;   
}

.cart-card-img {
    height: 100px;
}




.cart-card-desc{
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}

.summ {
    margin-top: 10px;
    display: inline-block;
    font-size: 25px;
    width: max-content;
    margin: 5px auto;
}

.summ-desc {
    margin-top: 10px;
    margin-left: 25%;
    display: inline-block;
    font-size: 20px;
    text-align: center;
}

.buy-btn{
    background: rgb(188, 187, 187);
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
    width: 300px;
    height: 50px;
    padding: 5px;
    margin-left: 50%;
    transform: translate(-50%, 0)
}

.buy-btn:hover{
    background-color: rgb(214, 214, 214);
}

.cart {
    margin-top: 40px;
    margin-right: 50px;
    border-radius: 5px;
    background: white;
    width: 400px;
    height: min-content;
    background: white;
    padding-bottom: 20px;
}

.cart__total {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}


.cart-empty{
    text-align: center;
    padding: 125px 0;
    
}

.none {
    display: none;
}